html {
  font-size: 18px;
  line-height: 1.4;
}

/** Welcome Section **/

.container {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.banner {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: helvetica;
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navigation {
  margin: 1rem;
}

.container-see {
  background-color: white;
  color: black;
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  top: 10rem;
  left: 30rem;
  width: 35rem;
}

.container-see span {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.info {
  margin-right: 2rem;
}

/** Services Section **/

.container-services {
  display: flex;
  max-width: 960px;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.service {
  margin-top: 3rem;
  height: 8rem;
  width: 3.5rem;
}

.service img {
  width: 3.5rem;
}

.description {
  font-size: 1rem;
  font-family: helvetica;
}

/** About Section **/

.container-about {
  display: flex;
}

.title {
  font-size: 1rem;
  font-family: helvetica;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.title-description {
  width: 35%;
}
